body {
  background-color: #f0e9dc;
  font-family: 'serif';
}

.invitation-card {
  border: none;
  border-radius: 20px;
  overflow: hidden;
  background-color: #f8f3e9;
}

.invitation-header {
  padding: 30px 20px;
}
.d-logo {
  color: #c08261;
  font-weight: 200;
}
.i-title {
  text-transform: uppercase;
  letter-spacing: 2px;
}

.invitation-details {
  background-color: #6c755a;
  color: #f0e9dc;
  border-radius: 20px;
}
.text-details {
  text-transform: uppercase;
  font-size: 0.8rem;
  letter-spacing: 1px;
}

.btn-confirm {
  background-color: #c08261 !important;
  border: none !important;
  border-radius: 10px !important;
  text-transform: uppercase !important;
  padding: 12px !important;
}
